<%= form_for [@question, @answer], remote: true  do |f| %>
  <form>
    <div class="form-group">
      <%= f.label :body, "Your answer" %>
      <%= f.text_area :body, id: "answer_body", class: "form-control" %>
    </div>
  <%= f.submit 'Create', class: "btn btn-primary" %>
  </form>
<% end %>
